body{
	width:100%;
	height:100%;
	
}
.contain{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: linear-gradient(90deg,#ff5c40,#ff8c40);
background-image: linear-gradient(to bottom right,#ff5c40,#ff8c40);	
}

.done{
	width:100px;
	height:100px;
	position:relative;
	left: 0;
	right: 0;
	top:-20px;
	margin:auto;
}
.contain h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size:1.4em;
	color: #ff5c40;
}

.congrats{
	position:relative;
	left:50%;
	top:50%;
	max-width:800px;	transform:translate(-50%,-50%);
	width:80%;
	min-height:300px;
	max-height:900px;
	border:2px solid white;
	border-radius:5px;
	    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.3);
    background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
	background:#fff;
	text-align:center;
	font-size:2em;
	color: #189086;
}

.text{
	position:relative;
	font-weight:normal;
	left:0;
	right:0;
	margin:auto;
	width:80%;
	max-width:800px;

	font-family: 'Lato', sans-serif;
	font-size:0.6em;

}


.circ{
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.drawn svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}

.regards{
	font-size:.7em;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ff6c40;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }

@media (max-width:600px){
	.congrats h1{
		font-size:1.2em;
	}
	
	.done{
		top:-10px;
		width:80px;
		height:80px;
	}
	.text{
		font-size:0.5em;
	}
	.regards{
		font-size:0.6em;
	}
}

@media (max-width:500px){
	.congrats h1{
		font-size:1em;
	}
	
	.done{
		top:-10px;
		width:70px;
		height:70px;
	}
	
}

@media (max-width:410px){
	.congrats h1{
		font-size:1em;
	}
	
	.congrats .hide{
		display:none;
	}
	
	.congrats{
		width:100%;
	}
	
	.done{
		top:-10px;
		width:50px;
		height:50px;
	}
	.regards{
		font-size:0.55em;
	}
	
}

.loadingDiv{
	position: fixed;
	display: none;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	justify-content: center;
	align-items: center;
  }
  
  .typewriter {
	--blue: #ff7c40;
	--blue-dark: #ff5c40;
	--key: #fff;
	--paper: #EEF0FD;
	--text: #D3D4EC;
	--tool: #FBC56C;
	--duration: 3s;
	position: relative;
	-webkit-animation: bounce05 var(--duration) linear infinite;
	animation: bounce05 var(--duration) linear infinite;
  }
  
  .typewriter .slide {
	width: 92px;
	height: 20px;
	border-radius: 3px;
	margin-left: 14px;
	transform: translateX(14px);
	background: linear-gradient(var(--blue), var(--blue-dark));
	-webkit-animation: slide05 var(--duration) ease infinite;
	animation: slide05 var(--duration) ease infinite;
  }
  
  .typewriter .slide:before, .typewriter .slide:after,
  .typewriter .slide i:before {
	content: "";
	position: absolute;
	background: var(--tool);
  }
  
  .typewriter .slide:before {
	width: 2px;
	height: 8px;
	top: 6px;
	left: 100%;
  }
  
  .typewriter .slide:after {
	left: 94px;
	top: 3px;
	height: 14px;
	width: 6px;
	border-radius: 3px;
  }
  
  .typewriter .slide i {
	display: block;
	position: absolute;
	right: 100%;
	width: 6px;
	height: 4px;
	top: 4px;
	background: var(--tool);
  }
  
  .typewriter .slide i:before {
	right: 100%;
	top: -2px;
	width: 4px;
	border-radius: 2px;
	height: 14px;
  }
  
  .typewriter .paper {
	position: absolute;
	left: 24px;
	top: -26px;
	width: 40px;
	height: 46px;
	border-radius: 5px;
	background: var(--paper);
	transform: translateY(46px);
	-webkit-animation: paper05 var(--duration) linear infinite;
	animation: paper05 var(--duration) linear infinite;
  }
  
  .typewriter .paper:before {
	content: "";
	position: absolute;
	left: 6px;
	right: 6px;
	top: 7px;
	border-radius: 2px;
	height: 4px;
	transform: scaleY(0.8);
	background: var(--text);
	box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
  }
  
  .typewriter .keyboard {
	width: 120px;
	height: 56px;
	margin-top: -10px;
	z-index: 1;
	position: relative;
  }
  
  .typewriter .keyboard:before, .typewriter .keyboard:after {
	content: "";
	position: absolute;
  }
  
  .typewriter .keyboard:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 7px;
	background: linear-gradient(135deg, var(--blue), var(--blue-dark));
	transform: perspective(10px) rotateX(2deg);
	transform-origin: 50% 100%;
  }
  
  .typewriter .keyboard:after {
	left: 2px;
	top: 25px;
	width: 11px;
	height: 4px;
	border-radius: 2px;
	box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	-webkit-animation: keyboard05 var(--duration) linear infinite;
	animation: keyboard05 var(--duration) linear infinite;
  }
  
  @keyframes bounce05 {
	85%, 92%, 100% {
	  transform: translateY(0);
	}
  
	89% {
	  transform: translateY(-4px);
	}
  
	95% {
	  transform: translateY(2px);
	}
  }
  
  @keyframes slide05 {
	5% {
	  transform: translateX(14px);
	}
  
	15%, 30% {
	  transform: translateX(6px);
	}
  
	40%, 55% {
	  transform: translateX(0);
	}
  
	65%, 70% {
	  transform: translateX(-4px);
	}
  
	80%, 89% {
	  transform: translateX(-12px);
	}
  
	100% {
	  transform: translateX(14px);
	}
  }
  
  @keyframes paper05 {
	5% {
	  transform: translateY(46px);
	}
  
	20%, 30% {
	  transform: translateY(34px);
	}
  
	40%, 55% {
	  transform: translateY(22px);
	}
  
	65%, 70% {
	  transform: translateY(10px);
	}
  
	80%, 85% {
	  transform: translateY(0);
	}
  
	92%, 100% {
	  transform: translateY(46px);
	}
  }
  
  @keyframes keyboard05 {
	5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	9% {
	  box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	18% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	27% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	36% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	45% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	54% {
	  box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	63% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
	}
  
	72% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	81% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  }