.profilePicture{
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
.modal-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

